<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.mirea.nagaevas.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".UpdateActivity"
            android:exported="false"
            android:parentActivityName=".StoryActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Finances">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddActivity"
            android:exported="false"
            android:label="Add New Spending"
            android:parentActivityName=".StoryActivity" />
        <activity
            android:name=".StoryActivity"
            android:exported="false"
            android:label="Spendings"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>